.tabContainer{
    border: 1px solid black;
    width: 100px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}
.tabContainer.selected {
    background-color: cornflowerblue; 
    color: white; 
  }