* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 600px;
  }
.container>section .row{
    display: flex;
    flex-wrap: nowrap;

}
header {
     padding: 2em;
     text-align: center;
}
    
.container > h2{
    font-size: 2rem;
    padding: 2rem;
}
.container>section .row :nth-child(1){
    padding: 10px;
    height: 300px;
    flex-basis: 200px;
    flex-shrink: 0;
}
.container>section .row :nth-child(2){
    flex-grow: 1;
    padding: 10px;
    height: 300px;
    min-width: 200px;
    flex-shrink: 1;
}
.container>section .row :nth-child(3){
    flex-grow: 1;
    padding: 10px;
    height: 300px;
    min-width: 200px;
    flex-shrink: 1;
}
.container> footer{
    padding: 1em;
    text-align: center;
}
  