/* 기본 폰트와 배경 색 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f9;
    margin: 0;
    padding: 0;
}

/* 이미지 스타일 */
.registered_img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* 주요 컨테이너 */
.SiteDetailContainer {
    margin: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* 세부 정보 스타일 */
div > div {
    margin-bottom: 10px;
    font-size: 16px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* 버튼 스타일 */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* 날짜 선택기 스타일 */
.react-datepicker {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.react-datepicker__day {
    width: 300px; /* 날짜 셀의 너비를 원하는 크기로 설정 */
    height: 300px; /* 날짜 셀의 높이 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .preview-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }

.react-datepicker__day--outside-month {
    color: #ccc;
}
.carousel{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 600px;
    height: 300px;
    overflow: hidden;
}
.container{
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  .carousel-container{
    margin: 0 auto;
    margin-bottom: 2em;
    display: flex;
    transition-duration: 0.5s;
  }
.slider {
    width: 500px;
    height: 500px;
  }
  .button-container {
    text-align: center;
  }
 .myCampingRegisterContainer button {
    background-color: #4CAF50;
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 10%;
    margin: 0px 10px;
  }
  

.react-datepicker__header {
    background-color: #4CAF50;
    color: white;
}
/* 날짜 셀의 너비를 넓히는 스타일 */
.react-datepicker__day {
    width: 40px; /* 너비를 원하는 크기로 설정 */
    height: 40px; /* 높이도 조정 가능 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.react-datepicker__current-month {
    font-size: 18px;
    font-weight: bold;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    background-color: #45a049;
    color: white;
}

/* 날짜 셀 안의 텍스트 중앙 정렬 */
.react-datepicker__day, .react-datepicker__day-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
